@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body{
    font-family: 'Droid Serif', serif;
}

#main{
    min-height: 100%;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d9d9d9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d9d9d9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d9d9d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}

#footer{
    position: relative;
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    width: 100%;
    height: 40px;
    background-color: #666666;
    margin-top: -40px;
    z-index: 1000;
}

#footer p{
    font-size: 12px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 20px;
}

.content_wrap{
    width: 500px;
    margin: 0 auto;
    padding-right: 30px;
}
#main .content_wrap{
    padding-bottom: 40px;
}



#header{
    padding: 86px 0 0 20px;
    margin: 0 0 65px 0;
}

#description_text{
    padding: 0 0 0 20px;
    margin: 0 0 65px 0;
}

#description_text h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 11px;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.20);
}

#description_text p{
    font-size: 14px;
}

#order_table{
    width: 100%;
}

#order_table th{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 16px;
    text-align: center;
}

#order_table th:first-child{
    text-align: left;
}

#order_table th div{
    border-bottom: 2px solid #787878;
}

#order_table td:first-child,
#order_table th:first-child div{
    padding-left: 20px;
}

.cart_item{
    font-size: 18px;
    line-height: 1;
}
.cart_item td{
    height: 48px;
}

.cart_item td:first-child{
    padding-left: 20px;
}

.cart_item:hover td{
    background: #dddddd;
}

#vat_line,
#subtotal_line{
    color: #666666;
    line-height: 23px;
}

.cost_cell,
.price_cell,
#subtotal_cell,
#vat_cell,
#total_cell{
    text-align: right;
    padding-right: 20px;
}

.cost_cell{
    width: 80px;
}

.price_cell{
    width: 75px;
}


.quantity_input{
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    line-height: 28px;
    padding: 0 3px;
    width: 30px;
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    text-align: right;
    border: 1px solid #999999;
    margin: 0;
}

.quantity_buttons_holder{
    display: inline-block;
    vertical-align: top;
    width: 16px;
}

.quantity_buttons_holder button{
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    width: 16px;
    display: block;
    vertical-align: middle;
    height: 14px;
    background: #999999;
    border: none;
    outline: none;
    color: #fff;
    line-height: 14px;
    text-align: center;
    padding: 0;
    margin: 0 0 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}



#subtotal_line td{
    padding-top: 38px;
}

#total_line td{
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
}

.remove_btn_holder{
    position: relative;
}

.remove_button{
    border: none;
    outline: none;
    top: 0;
    right: -46px;
    position: absolute;
    display: block;
    height: 22px;
    width: 16px;
    background: url(../images/remove_btn.png) left top no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.remove_button:hover{
    background-position: left bottom;
}

#submit_holder{
    text-align: right;
    padding-right: 20px;
}

#submit_cart_btn{
    display: inline-block;
    font-family: 'Droid Sans', sans-serif;
    padding: 9px;
    height: 51px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 5px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 4px 5px rgba(0,0,0,0.53);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.53);
    border: none;
    outline: none;
    background: #000066;
    margin: 25px 0;
}
